{{> messages }}
{{#if username}}
<a href="/">Home</a>
<h2>{{ username }}'s profile</h2>
<table class="table">
  <tr>
    <td>Name:</td>
    <td>{{ name }}</td>
  </tr>
  <tr>
    <td>GitHub:</td>
    <td>{{ github }}</td>
  </tr>
  <tr>
    <td>Image:</td>
    <td><img src={{ url }}></td>
  </tr>
  <tr>
    <td>Country:</td>
    <td>{{ country }}</td>
  </tr>
  <tr>
    <td>phoneNumber:</td>
    <td>{{ phoneNumber }}</td>
  </tr>
  <tr>
    <td>Facebook:</td>
    <td>{{ facebook }}</td>
  </tr>
</table>
{{/if}}